body {
    background-color: powderblue;
}
hr {
    background-color: powderblue;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: aquamarine;
}
h3 {
    color: aquamarine;
}